*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: antonio;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
    background: linear-gradient(180deg, rgb(118, 163, 237),white);
    background-repeat: no-repeat;    
}

#weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
}

.weather{
    min-height: 250px;
    min-width: 250px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px;
    color: white;
}

.weather:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.4s;
    cursor: pointer;
}

.emoji{
    font-size: 10em;
}

#nav-bar{
    height: 80px;
    display: flex;
    padding: 5px;
    justify-content:flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.305);
    position: fixed;
    width: 100%;
    top: 0px;
}

#img-logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#logo-name{
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#quotes-box{
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.50);
    margin-top: 90px;
    margin-left: 40px;
}

#first{
    font-size: 5em;
    color: white;
}

#second{
    font-size: 3em;
    color: rgb(198, 213, 237);
}

#btn{
    padding: 30px;
    font-size: 2em;
    font-style: bold;
    border: none;
    border-radius: 50px;
    background-color: rgb(74, 144, 235);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

#btn:hover, #search-btn:hover{
    background-color: rgb(68, 133, 218);
    transition: background-color 0.5s;
}

#btn:active, #search-btn:active{
    background-color: rgb(78, 151, 248);
}

#search-btn{
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    margin-left: 20px;
    font-size: 20px;
    background-color: rgb(74, 144, 235);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}

#search-text{
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    outline: none;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    font-style: bold;
}

#search-text:focus{
    background-color: rgba(255, 255, 255, 0.80);
    transition: background-color 0.5s;
}

#wea-body{
    color: white;
}

#full-weather{
    display: grid;
    grid-template-columns: 600px 300px;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: 
        "box1 box2"
        "box1 box3"
        "box1 box4";
    gap: 2em;
}

.we-div{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
}

.we-div:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
}

#temp-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#temp-1, #temp-2{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

#wea-emoji{
    font-size: 2em;
}

#wind-div, #pressure-div, #humidity-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg{
    position: fixed;
    font-size: 1.5em;
    background-color: rgba(255, 0, 0, 0.3);
    padding: 20px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

#msg:hover{
    background-color: rgba(255, 0, 0, 0.4);
    cursor:text;
}

@media (max-width: 1160px){

#first{
    font-size: 4.8em;
}

#second{
    font-size: 2.8em;
}   

}

@media (max-width: 1120px){

#first{
    font-size: 4.6em;
}

#second{
    font-size: 2.6em;
}   

.weather{
    min-height: 200px;
    min-width: 200px;
    margin: 15px;
}

.emoji{
    font-size: 9em;
}

}

@media (max-width:1000px){
#full-weather{
    grid-template-columns: 500px 250px;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: 
        "box1 box2"
        "box1 box3"
        "box1 box4";
    gap: 2em;
}
}

@media (max-width: 900px){

#first{
    font-size: 4.4em;
}

#second{
    font-size: 2.4em;
}   

#weather-container{
    flex-direction: column;
    padding-top: 450px;
}

#quotes-box{
    margin-top: 330px;
    margin-left: 0px;
}

.emoji{
    font-size: 7em;
}

}

@media (max-width:800px){
#full-weather{
    grid-template-columns: 400px 200px;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: 
        "box1 box2"
        "box1 box3"
        "box1 box4";
    gap: 2em;
}
}

@media (max-width: 650px) {
#search-form{
    margin-top: 200px;
}

#full-weather{
    grid-template-columns: 400px;
    grid-template-rows: 300px 100px 100px 100px;
    grid-template-areas: 
        "box1"
        "box2"
        "box3"
        "box4";
    gap: 2em;
}
}

@media (max-width: 600px){

#first{
    font-size: 4em;
}

#second{
    font-size: 2em;
}   

#weather-container{
    flex-direction: column;
    padding-top: 450px;
}

.weather{
    min-height: 200px;
    min-width: 200px;
    margin: 10px;
}

.emoji{
    font-size: 7em;
}

#quotes-box{
    margin-top: 330px;
    margin-left: 0px;
}

#btn{
    padding: 25px;
    font-size: 1.8em;
}

}

@media (max-width: 400px){

#first{
    font-size: 3em;
}

#second{
    font-size: 1.5em;
} 


#full-weather{
    grid-template-columns: 280px;
    grid-template-rows: 280px 80px 80px 80px;
    gap: 2em;
}

#search-btn{
    padding: 8px 13px;
    font-size: 15px;
}

#search-text{
    padding: 8px 13px;
    font-size: 15px;
    width: 200px;
}

#temp-1, #temp-2{
    font-size: 3em;
}

}

@media (max-height: 700px){
#search-form{
    margin-top: 100px;
}
}

@media (max-height: 700px) and (max-width:650px){

#search-form{
    margin-top: 300px;
}  

}